.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc (42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-colot);
  margin-bottom: 30px;
  @media screen and (min-width: 1600px) {
    font-size: 44px;
  }
}

.hero {
  padding: 200px 0px;
  text-align: center;
  background-color: #2f303a;
  margin: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
